*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    
}
.container{
    padding: 20px 50px;
    background-color: lightcoral;
    text-align: center;
}
h1{
    margin-bottom: 20px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.col{
    width: 100px;
    height: 100px;
    background-color: lightgreen;
    margin: 10px;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    font-weight: bold;
}
.fizzbuzz{
    background-color: rgb(246, 96, 203);
}
.fizz{
    background-color: aqua;
}
.buzz{
    background-color: rgb(244, 223, 0);
}